<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Yoga Studio Template">
    <meta name="keywords" content="Yoga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Content/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--//theme-style-->
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- start menu -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!-- slide -->
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap"
          rel="stylesheet">
    <!-- Css Styles -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Return Url -->
    
    <link rel="stylesheet" href="~/Content/Webapp/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/Webapp/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/Webapp/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/Content/Webapp/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/Webapp/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/Content/Webapp/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/Webapp/css/style.css" type="text/css">
</head>
<body>
    <!--header-->
    <!-- Search model -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form action="/Product/Index" method="get" class="search-model-form">
                <input type="text" name="keyword" value="Nhập vào từ khóa..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
            </form>
        </div>
    </div>
    <!-- Search model end -->
    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="inner-header">
                <div class="logo">
                    <a href="/"><img src="~/Content/Webapp/img/logos/logo.png" alt=""></a>
                </div>
                <div class="header-right">
                    <a class="play-icon popup-with-zoom-anim" href="#small-dialog">
                        <i class="glyphicon glyphicon-search"> </i>
                        <img src="~/Content/Webapp/img/icons/search.png" alt="" class="search-trigger">
                    </a>
                    <div id="small-dialog" class="mfp-hide">
                        <div class="search-top">
                            <div class="login">
                                <form action="/Product/Index" method="get">
                                    <input type="submit" value="">
                                    <input type="text" name="keyword" value="Search......" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
                                </form>
                            </div>
                        </div>
                    </div>
                    @{
                        CosmeticsShop.Models.User userInfo = Session["User"] as CosmeticsShop.Models.User;

                        if (userInfo != null)
                        {
                            <a href="/User/Infor">
                                <img src="~/Content/Webapp/img/icons/man.png" alt="">
                            </a>
                        }
                        else
                        {

                        }
                    }
                    <a href="/Cart/Checkout">
                        <div class="total">
                            @{
                                List<CosmeticsShop.Models.ItemCart> itemCarts = Session["Cart"] as List<CosmeticsShop.Models.ItemCart>;
                                if (itemCarts != null && itemCarts.Count > 0)
                                {
                                    <span class="simpleCart_total">@itemCarts.Sum(x => x.ProductPrice * x.Quantity).ToString("#,##")₫ (@itemCarts.Sum(x => x.Quantity))</span>
                                }
                                else
                                {
                                    <span class="simpleCart_total">0₫ (0)</span>
                                }
                            }
                        </div>
                        <img src="~/Content/images/cart.png" alt="" />
                    </a>
                </div>
                <div class="user-access">
                    @{
                        CosmeticsShop.Models.User user = Session["User"] as CosmeticsShop.Models.User;

                        if (user != null)
                        {
                            <input type="text" id="UserID" value="@user.ID" hidden />

                            string[] token = user.Name.Split(' ');
                            string name = token[token.Length - 1];
                            <a href="/User/CheckoutOrder">@name</a>

                            <a href="/Home/SignOut" class="in">Đăng xuất</a>


                        }
                        else
                        {
                            <a href="/Home/SignUp">Đăng ký</a>
                            <a href="/Home/SignIn" class="in">Đăng nhập</a>
                        }
                    }
                </div>
                <nav class="main-menu mobile-menu">
                    <ul>
                        <li><a href="/">Trang chủ</a></li>
                        <li>
                            <a href="/Product/">Sản phẩm</a>

                        </li>
                        <li><a href="/Slide/">Diễn đàn</a></li>
                        <li><a href="/Home/Quiz">Gợi ý sản phẩm</a></li>
                        <li><a href="/Home/Contact">Liên hệ</a></li>

                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <!-- Header Info Begin -->
    <div class="header-info w-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="header-item">
                        <img src="img/icons/delivery.png" alt="">
                        <p>Hotline: 0342 309 365</p>
                    </div>
                </div>
                <div class="col-md-4 text-left text-lg-center">
                    <div class="header-item">
                        <img src="img/icons/voucher.png" alt="">
                        <p>Giảm giá cực sốc</p>
                    </div>
                </div>
                <div class="col-md-4 text-left text-xl-right">
                    <div class="header-item">
                        <img src="img/icons/sales.png" alt="">
                        <p>Giảm 30% sản phẩm khi dùng mã: 30OFF</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header Info End -->

    @RenderBody()


    <div class="row1">
        <div class="chatbox chatbox22 chatbox--tray">
            <div class="chatbox__title">
                <h5><a href="javascript:void()">Chat với chúng tôi</a></h5>
                <!--<button class="chatbox__title__tray">
                    <span></span>
                </button>-->
                <button class="chatbox__title__close">
                    <span>
                        <svg viewBox="0 0 12 12" width="12px" height="12px">
                            <line stroke="#FFFFFF" x1="11.75" y1="0.25" x2="0.25" y2="11.75"></line>
                            <line stroke="#FFFFFF" x1="11.75" y1="11.75" x2="0.25" y2="0.25"></line>
                        </svg>
                    </span>
                </button>
            </div>
            @if (Session["User"] == null)
            {
                <div class="chatbox__body">
                    <h5>Vui lòng đăng nhập để chat</h5>
                </div>
            }
            else
            {
                <div class="chatbox__body">

                </div>
                <div class="panel-footer">
                    <form id="form-chat">
                        <div class="input-group">
                            <input id="btn-input" type="text" required class="form-control input-sm chat_set_height" placeholder="Soạn tin nhắn..." tabindex="0" dir="ltr" spellcheck="false" autocomplete="off" autocorrect="off" autocapitalize="off" contenteditable="true" />
                            <span style="background-color:cornflowerblue" class="input-group-btn d-flex align-items-center justify-content-center">
                                <button type="submit" class="btn bt_bg btn-sm" id="btn-chat">
                                    Gửi
                                </button>
                                <img src="~/Content/images/loading.gif" class="loading-send btn bt_bg btn-sm" style="display:none;" />
                            </span>
                        </div>
                    </form>
                </div>
            }
        </div>
    </div>
    <!--footer-->
    <!-- Footer Section Begin -->
    <footer class="footer-section spad">
        <div class="social-links-warp">
            <div class="container">
                <div class="social-links">
                    <a href="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
                    <a href="" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
                    <a href="" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
                    <a href="" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>
                </div>
            </div>

            <div class="container text-center pt-5">
                <p>
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script><i class="icon-heart color-danger" aria-hidden="true"></i><a href="" target="_blank"> Thuận Nguyễn</a>
                </p>
            </div>
        </div>
    </footer>

    <script type="text/javascript">
        $(document).ready(function () {
            $(function () {
                var chat = $.connection.chatHubs
                chat.client.displayMessage = function () {
                    getAllData();
                }
                $.connection.hub.start();
                getAllData();
            })
            var lastMessID = 0;
            function getAllData() {
                var chatbox = $('.chatbox__body');
                var userID = $('#UserID').val();
                $.ajax({
                    url: location.origin + "/Chat/GetAllMessageChating?UserID=" + userID,
                    type: 'GET',
                    dataType: 'JSON',
                    success: function (data) {
                        chatbox.empty()
                        if (data.length > 0) {
                            $.each(data, function (i, model) {
                                var date = new Date(parseInt(model.CreatedDate.substr(6)));
                                if (model.FromUserID == userID) {
                                    lastMessID = model.ID;
                                    chatbox.append(
                                        '<div class="chatbox__body__message chatbox__body__message--right" id="' + model.ID + '"' + '>' +
                                        ' <div class="chatbox_timing">' +
                                        '<ul>' +
                                        '<li>' + date.getHours() + ':' + date.getMinutes() + '</li>' +
                                        '</ul>' +
                                        '</div>' +
                                        '<img src="/Content/images/' + model.FromAvatarUser + '" alt="Picture">' +
                                        '<div class="clearfix"></div>' +
                                        ' <div class="ul_section_full">' +
                                        ' <ul class="ul_msg">' +
                                        '<li><strong>' + model.FromUserName + '</strong></li>' +
                                        '<li>' + model.Content + '</li>' +
                                        '</ul>' +
                                        '<div class="clearfix"></div>' +
                                        '</div>' +
                                        '</div>'
                                    );
                                } else {
                                    chatbox.append(
                                        '<div class="chatbox__body__message chatbox__body__message--left" id="' + model.ID + '"' + '>' +
                                        ' <div class="chatbox_timing">' +
                                        '<ul>' +
                                        '<li>' + date.getHours() + ':' + date.getMinutes() + '</li>' +
                                        '</ul>' +
                                        '</div>' +
                                        '<img src="/Content/images/' + model.FromAvatarUser + '" alt="Picture">' +
                                        '<div class="clearfix"></div>' +
                                        ' <div class="ul_section_full">' +
                                        ' <ul class="ul_msg">' +
                                        '<li><strong>' + model.FromUserName + '</strong></li>' +
                                        '<li>' + model.Content + '</li>' +
                                        '</ul>' +
                                        '<div class="clearfix"></div>' +
                                        '</div>' +
                                        '</div>'
                                    );
                                }
                            })
                        } else {
                            chatbox.append(
                                '<p>Chưa có tin nhắn...</p>'
                            );
                        }
                    }
                })
                $(".chatbox__body").animate({ scrollTop: 2000000 });
            }
            function getLastData() {
                var chatbox = $('.chatbox__body');
                var userID = $('#UserID').val();
                $.ajax({
                    url: location.origin + "/Chat/GetLastMessageClient?UserID=" + userID,
                    type: 'GET',
                    dataType: 'JSON',
                    success: function (data) {
                        var date = new Date(parseInt(data.CreatedDate.substr(6)));
                        chatbox.append(
                            '<div class="chatbox__body__message chatbox__body__message--right">' +
                            ' <div class="chatbox_timing">' +
                            '<ul>' +
                            '<li>' + date.getHours() + ':' + date.getMinutes() + '</li>' +
                            '</ul>' +
                            '</div>' +
                            '<img src="/Content/images/' + data.FromAvatarUser + '" alt="Picture">' +
                            '<div class="clearfix"></div>' +
                            ' <div class="ul_section_full">' +
                            ' <ul class="ul_msg">' +
                            '<li><strong>' + data.FromUserName + '</strong></li>' +
                            '<li>' + data.Content + '</li>' +
                            '</ul>' +
                            '<div class="clearfix"></div>' +
                            '</div>' +
                            '</div>')
                    }
                })
            }
            $('#form-chat').submit(function send(e) {
                e.preventDefault();
                var fromId = $('#UserID').val();
                var content = $('#btn-input').val();
                $.ajax({
                    url: location.origin + "/Chat/Send",
                    data: { FromUserID: fromId, ToUserID: 1, Content: content, Side: "Client" },
                    type: 'POST',
                    dataType: 'JSON',
                    success: function (data) {
                        if (data.status) {
                            $.notify("Đã gửi!", "success");
                            $("#btn-chat").show();
                            $(".loading-send").hide();
                            getLastData();
                            $('#btn-input').val("");
                            $(".chatbox__body").animate({ scrollTop: 2000000 });
                        } else {
                            $.notify("Có lỗi xảy ra!", "error");
                            return;
                        }
                    }
                })
                $("#btn-chat").hide();
                $(".loading-send").show();
            })
        });
    </script>
    <!-- Js Plugins -->
    <link href="~/Content/Webapp/css/chatbox.css" rel="stylesheet" />
    <script src="~/Content/js/chatbox.js"></script>
    <script src="~/Content/Webapp/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/Webapp/js/bootstrap.min.js"></script>
    <script src="~/Content/Webapp/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/Webapp/js/jquery.slicknav.js"></script>
    <script src="~/Content/Webapp/js/jquery.nice-select.min.js"></script>
    <script src="~/Content/Webapp/js/owl.carousel.min.js"></script>

    <script src="~/Content/Webapp/js/mixitup.min.js"></script>
    <script src="~/Content/Webapp/js/main.js"></script>
    <script src="~/Content/js/notify.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.2.min.js"></script>
    <script src="~/signalr/hubs" type="text/javascript"></script>

</body>
</html>