@model CosmeticsShop.Models.User
@{
    ViewBag.Title = "User Information";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<section class="py-4 my-4">
    <div class="container">
        <h3 class="mb-5">Thông tin khách hàng</h3>
        <div class="bg-white shadow rounded-lg d-block d-sm-flex">
            <div class="profile-tab-nav border-right">
                <div class="p-4">
                    <div class="img-circle text-center mb-3">
                      
                        <img src="~/Content/images/avatar.jpg" alt="Image" class="shadow" style="height: 100px; width: 100px; border-radius: 100%; border: 5px solid #fff;"/>
                    </div>
                    <h4 class="text-center">@Model.Name</h4>
                </div>
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="account-tab" data-toggle="pill" href="#account" role="tab" aria-controls="account" aria-selected="true">
                        <i class="fa fa-home text-center mr-1"></i>
                        Tài khoản
                    </a>
                    <a class="nav-link" id="password-tab" data-toggle="pill" href="#password" role="tab" aria-controls="password" aria-selected="false">
                        <i class="fa fa-key text-center mr-1"></i>
                        Mật khẩu
                    </a>
                    
                </div>
            </div>
            <div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
                    <h3 class="mb-4">Thông tin tài khoản</h3>
                    <div class="alert alert-success">
                        <i class="bi bi-star"></i>@ViewBag.Message
                    </div>
                    @using (Html.BeginForm("infor", "User", FormMethod.Post))
                    {

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Họ và tên</label>
                                    <input type="text" name="Name" class="form-control" required value="@Model.Name">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" name="Email" class="form-control" required value="@Model.Email">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Phone number</label>
                                    <input type="text" name="Phone" class="form-control" required value="@Model.Phone">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Địa chỉ</label>
                                    <textarea class="form-control" rows="4" name="Address" required>@Model.Address</textarea>
                                </div>
                            </div>
                            <div>
                                <button class="btn btn-primary" type="submit">Lưu</button>
                                <button class="btn btn-light">Cancel</button>
                            </div>
                        </div>

                    }


                </div>
                <div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">
                    <h3 class="mb-4">Thay đổi mật khẩu</h3>
                    @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post))
                    {
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Old password</label>
                                    <input type="password" name="OldPassword" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>New password</label>
                                    <input type="password" name="Password" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Confirm new password</label>
                                    <input type="password" required oninput="check(this)" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-primary" type="submit">Lưu</button>
                            <button class="btn btn-light">Cancel</button>
                        </div>
                    }
                </div>
                
            </div>
        </div>
    </div>
</section>

<script>
    function check(input) {
        if (input.value != document.getElementById('Password').value) {
            input.setCustomValidity('Password does not match');
        } else {
            input.setCustomValidity('');
        }
    }
</script>