
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

    List<CosmeticsShop.Models.Product> products = ViewBag.ListProduct as List<CosmeticsShop.Models.Product>;
}
<link href="~/Content/Home/style.css" rel="stylesheet" />
<link href="~/Content/Home/style.min.css" rel="stylesheet" />
<script src="~/Content/Home/main.js"></script>
<script src="~/Content/Home/main.min.js"></script>
<script>
    $(document).ready(function () {
        $(".item_add").on('click', function () {
            event.preventDefault();
            var ID = $(this).data("id");
            $.ajax({
                url: '/Cart/AddItem',
                data: {
                    ProductID: ID
                },
                type: 'POST',
                dataType: 'json',
                success: function (response) {
                    if (response.status == true) {
                        $.notify("Thêm vào giỏ hàng thành công!", "success");

                        $.ajax({
                            url: '/Cart/GetTotalCart',
                            type: 'GET',
                            dataType: 'json',
                            success: function (response) {
                                $(".simpleCart_total").html(response.TotalPrice + "₫ (" + response.TotalQuantity + ")")
                            },
                        });
                    } else {
                        $.notify("Số lượng không đủ!", "error");
                    }
                },
            });
        })
    });
</script>
<!--banner-->
<section>
    <div class="hero-items owl-carousel">

        <div class="single-slider-item set-bg" data-setbg="@Url.Content("~/Content/Webapp/img/slider-2.jpg")">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>2019</h1>
                        <h2>Lookbook.</h2>
                        <a href="#" class="primary-btn">See More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Slider End -->
<section class="spad pb-0">
    <div class="features-ads">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-features-ads first">
                        <img src="~/Content/Webapp/img/icons/f-delivery.png" alt="">
                        <h4>Free shipping</h4>
                        <p>
                            Chúng tôi hỗ trợ hình thức thanh toán chuyển khoản đối với các khách hàng online.
                            Ngoài ra, chúng tôi còn hỗ trợ hình thức thanh toán khi nhận hàng COD
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-features-ads second">
                        <img src="~/Content/Webapp/img/icons/coin.png" alt="">
                        <h4>100% Money back </h4>
                        <p>
                            Trường hợp sản phẩm hư hại do quá trình vận chuyển hoặc do nhà sản xuất thì quý
                            khách có thể từ chối nhận và yêu cầu bộ phận giao hàng liên hệ trực tiếp với chúng tôi.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-features-ads">
                        <img src="~/Content/Webapp/img/icons/chat.png" alt="">
                        <h4>Online support 24/7</h4>
                        <p>
                            Đội ngũ hỗ trợ trực tuyến 24/7
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="banner-area banner-style-2 section-space-y-axis-100" data-bg-image="/assets/images/product/pngtree.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="banner-content">
                    <div class="section-title">
                        <span class="sub-title text-danger">Khuyến mãi đặc biệt</span>
                        <h3 class="title font-size-40 mb-7 text-success">Giảm giá 20% các loại trong tháng 4</h3>
                    </div>

                    <div class="countdown-wrap with-dark-border">
                        <div class="countdown item-4" data-countdown="2022/12/12" data-format="short">
                            <div class="countdown__item me-3">
                                <span class="countdown__time daysLeft"></span>
                                <span class="countdown__text ">Ngày</span>
                            </div>
                            <div class="countdown__item me-3">
                                <span class="countdown__time hoursLeft"></span>
                                <span class="countdown__text ">Giờ</span>
                            </div>
                            <div class="countdown__item me-3">
                                <span class="countdown__time minsLeft"></span>
                                <span class="countdown__text ">Phút</span>
                            </div>
                            <div class="countdown__item">
                                <span class="countdown__time secsLeft"></span>
                                <span class="countdown__text">Giây</span>
                            </div>
                        </div>
                    </div>
                    <div class="button-wrap pt-10">
                        <a class="btn btn-custom-size lg-size btn-primary btn-dark-hover rounded-0" href="shop.html">Mua hàng ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Latest Product Begin -->
<section class="latest-products">
    <div class="container">
        <div class="product-filter">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <h2>Latest Products</h2>
                    </div>
                    <ul class="product-controls">
                        <li data-filter="*">All</li>
                        <li data-filter=".dresses">Dresses</li>
                        <li data-filter=".bags">Bags</li>
                        <li data-filter=".shoes">Shoes</li>
                        <li data-filter=".accesories">Accesories</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row" id="product-list">
            @if (products.Count > 0)
            {
                int count = 1;
                for (int i = count - 1; i < products.Count; i++)
                {
                    <div class="col-lg-3 col-sm-6 mix all">
                        <div class="single-product-item">
                            <figure>
                                <a href="/Product/Details/@products[i].ID"><img src="~/Content/images/@products[i].Image1" alt=""></a>
                                <div class="p-status">new</div>
                            </figure>
                            <div class="product-text">
                                <h6>@products[i].Name</h6>
                                <p>Đã bán: @products[i].PurchasedCount (Còn lại @products[i].Quantity)</p>
                                <p>@products[i].Price.Value.ToString("#,##")₫ -  <a href="#" class="item_add" data-id="@products[i].ID"><img src="~/Content/images/cart.png" alt="" /></a></p>
                                <div class="clearfix"> </div>
                            </div>
                            @*<div class="col-md1 simpleCart_shelfItem">
                                    <a href="/Product/Details/@products[i].ID">
                                        <img class="img-responsive" src="~/Content/images/@products[i].Image1" alt="" style="height:250px;width:200px" />
                                    </a>
                                    <h3><a href="/Product/Details/@products[i].ID">@products[i].Name</a></h3>
                                    <div class="price">
                                        <h5 class="item_price">@products[i].Price.Value.ToString("#,##")₫</h5>
                                        <p class="item_price">Đã bán: @products[i].PurchasedCount (Còn lại @products[i].Quantity)</p>
                                        <a href="#" class="item_add" data-id="@products[i].ID">Chọn mua</a>
                                        <div class="clearfix"> </div>
                                    </div>
                                </div>*@
                        </div>
                        <div class="clearfix"> </div>

                    </div>
                }

            }
            else
            {
                <h3>Không có sản phẩm nào...</h3>
            }
        </div>
</section>
<!-- Latest Product End -->
