
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

    List<CosmeticsShop.Models.Product> products = ViewBag.ListProduct as List<CosmeticsShop.Models.Product>;
}
<script>
    $(document).ready(function () {
        $(".item_add").on('click', function () {
            event.preventDefault();
            var ID = $(this).data("id");
            $.ajax({
                url: '/Cart/AddItem',
                data: {
                    ProductID: ID
                },
                type: 'POST',
                dataType: 'json',
                success: function (response) {
                    if (response.status == true) {
                        $.notify("Thêm vào giỏ hàng thành công!", "success");

                        $.ajax({
                            url: '/Cart/GetTotalCart',
                            type: 'GET',
                            dataType: 'json',
                            success: function (response) {
                                $(".simpleCart_total").html(response.TotalPrice + "₫ (" + response.TotalQuantity + ")")
                            },
                        });
                    } else {
                        $.notify("Số lượng không đủ!", "error");
                    }
                },
            });
        })
    });
</script>
<!--banner-->
<section class="hero-slider">
    <div class="hero-items owl-carousel">
       
        <div class="single-slider-item set-bg" data-setbg="~/Content/Webapp/img/slider-2.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>2019</h1>
                        <h2>Lookbook.</h2>
                        <a href="#" class="primary-btn">See More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Slider End -->
<section class="spad pb-0">
    <div class="features-ads">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-features-ads first">
                        <img src="~/Content/Webapp/img/icons/f-delivery.png" alt="">
                        <h4>Free shipping</h4>
                        <p>
                            Fusce urna quam, euismod sit amet mollis quis, vestibulum quis velit. Vesti bulum mal
                            esuada aliquet libero viverra cursus.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-features-ads second">
                        <img src="~/Content/Webapp/img/icons/coin.png" alt="">
                        <h4>100% Money back </h4>
                        <p>
                            Urna quam, euismod sit amet mollis quis, vestibulum quis velit. Vesti bulum mal esuada
                            aliquet libero viverra cursus.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-features-ads">
                        <img src="~/Content/Webapp/img/icons/chat.png" alt="">
                        <h4>Online support 24/7</h4>
                        <p>
                            Urna quam, euismod sit amet mollis quis, vestibulum quis velit. Vesti bulum mal esuada
                            aliquet libero viverra cursus.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--//banner-->
@*<div class="products">
        <div class="container">
            <h2>Sản phẩm bán chạy</h2>
            <div class="col-md-9">
                @if (products.Count > 0)
                {
                    int count = 1;
                loop:
                    <div class="content-top1">
                        @for (int i = count - 1; i < products.Count; i++)
                        {
                            <div class="col-md-4 col-md4">
                                <div class="col-md1 simpleCart_shelfItem">
                                    <a href="/Product/Details/@products[i].ID">
                                        <img class="img-responsive" src="~/Content/images/@products[i].Image1" alt="" style="height:250px;width:200px" />
                                    </a>
                                    <h3><a href="/Product/Details/@products[i].ID">@products[i].Name</a></h3>
                                    <div class="price">
                                        <h5 class="item_price">@products[i].Price.Value.ToString("#,##")₫</h5>
                                        <p class="item_price">Đã bán: @products[i].PurchasedCount (Còn lại @products[i].Quantity)</p>
                                        <a href="#" class="item_add" data-id="@products[i].ID">Chọn mua</a>
                                        <div class="clearfix"> </div>
                                    </div>
                                </div>
                            </div>
                            if (count % 3 == 0)
                            {
                                @Html.Raw("</div>");
                                count += 1;
                                goto loop;
                            }
                            count += 1;
                        }
                        <div class="clearfix"> </div>
                    </div>
                }
                else
                {
                    <h3>Không có sản phẩm nào...</h3>
                }
            </div>
        </div>
    </div>*@
<!-- Latest Product Begin -->
<section class="latest-products">
    <div class="container">
        <div class="product-filter">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <h2>Latest Products</h2>
                    </div>
                    <ul class="product-controls">
                        <li data-filter="*">All</li>
                        <li data-filter=".dresses">Dresses</li>
                        <li data-filter=".bags">Bags</li>
                        <li data-filter=".shoes">Shoes</li>
                        <li data-filter=".accesories">Accesories</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row" id="product-list">
            @if (products.Count > 0)
            {
                int count = 1;
                for(int i = count - 1; i< products.Count; i++)
                {
                <div class="col-lg-3 col-sm-6 mix all">
                    <div class="single-product-item">
                        <figure>
                            <a href="/Product/Details/@products[i].ID"><img src="~/Content/images/@products[i].Image1" alt=""></a>
                            <div class="p-status">new</div>
                        </figure>
                        <div class="product-text">
                            <h6>@products[i].Name</h6>
                            <p>Đã bán: @products[i].PurchasedCount (Còn lại @products[i].Quantity)</p>
                            <p>@products[i].Price.Value.ToString("#,##")₫ -  <a href="#" class="item_add" data-id="@products[i].ID"><img src="~/Content/images/cart.png" alt="" /></a></p>
                            <div class="clearfix"> </div>
                        </div>
                        @*<div class="col-md1 simpleCart_shelfItem">
                <a href="/Product/Details/@products[i].ID">
                    <img class="img-responsive" src="~/Content/images/@products[i].Image1" alt="" style="height:250px;width:200px" />
                </a>
                <h3><a href="/Product/Details/@products[i].ID">@products[i].Name</a></h3>
                <div class="price">
                    <h5 class="item_price">@products[i].Price.Value.ToString("#,##")₫</h5>
                    <p class="item_price">Đã bán: @products[i].PurchasedCount (Còn lại @products[i].Quantity)</p>
                    <a href="#" class="item_add" data-id="@products[i].ID">Chọn mua</a>
                    <div class="clearfix"> </div>
                </div>
            </div>*@
                    </div>
                    <div class="clearfix"> </div>

                </div>
            }

            }
            else
            {
            <h3>Không có sản phẩm nào...</h3>
            }
        </div>
</section>
<!-- Latest Product End -->
